.contact-background {
  margin-top: 0;
  margin-bottom: 10%;
}
.contact, .follow, .donate {
  text-align: center;
  width: 100%;
}

h3, h7 {
  font-family: "Lobster", cursive;
}

.image {
	width: 100%;
	border-radius: 20%;
}