.gallery {
	margin-bottom: 10%;
}
.card {
	height: 200px;
	width: 100%;
	margin: 2% 0 0 0;
}
.image1 {
  background-image: url(./images/andrew.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: 1;
}
.image2 {
  background-image: url(./images/brittany.jpeg);
  background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
  height: 100%;
  margin: 0;
  z-index: 1;
}
.image3 {
  background-image: url(./images/jeffrey.jpeg);
  background-repeat: no-repeat;
	background-size: cover;
	background-position: center; 
	width: 100%;
	height: 100%;
	bottom: 50px;
  margin: 0;
  z-index: 1;
}
.image4 {
  background-image: url(./images/kiana.jpeg);
  background-repeat: no-repeat;
	background-size: cover;
  background-position: 50% 25%; 
	width: 100%;
  height: 100%;
  margin: 0;
	z-index: 1;
}
.image5 {
  background-image: url(./images/megan.jpeg);
  background-repeat: no-repeat;
	background-size: cover;
	background-position: center; 

	width: 100%;
  height: 100%;
  margin: 0;
	z-index: 1;
}
.image6 {
  background-image: url(./images/terry.jpeg);
  background-repeat: no-repeat;
	background-size: cover;
  background-position: 70% 65%; 

	width: 100%;
  height: 100%;
  margin: 0;
	z-index: 1;
}
