h3 {
	text-align: center;
}

input {
	color: black;
}

.form {
	padding: 10%;
	margin: 5.5% 0 10% 0;
	background-color: white;
	border: solid black;
	padding-bottom: 10px;
}
.form-card {
	margin: 4% 0 10% 0;
	width: 100%;
	border: solid black;
  z-index: 1;
}

.btn-small {
	width: 100%;
}


