h3 {
  text-align: center;
}

input {
  color: black;
}

form {
	margin: 2% 0 10% 0;
	background-color: white;
	border: solid black;
}
.form-card {
	margin: 4% 0 10% 0;
	width: 100%;
	border: solid black;
  z-index: 1;
}