h5 {
	color: white;
	font-family: "Lobster", cursive;

}

.logo-header { 
	text-align: center;
	font-weight: bold;
	width: 45%;
	margin: 0 auto;
	margin-bottom: 5%;
	border-top: 10px solid rgb(252,194,1,0.3);
	border-bottom: 10px solid rgb(252,194,1,0.3);
	background-color: rgb(0,0,0,0.5);
	padding: 0.5%;
}

.Parallax {
	background-color: rgb(0,0,0,0.7);
}

.btn {
	z-index: 0;
}