.card-image {
  background-color: rgb(0, 0, 255, 0.7);
  height: 100%;
  width: 25%;
  text-align: center;
}

.class-box {
	padding-top: 3.5%;
}

h4 {
	font-weight: bold;
}

.horizontal {
	margin: 0.5% 0 0 0;
}

.h-header {
	margin-top: 1%;
	background-color: black;
	color: white;
}

p {
	text-align: center;
}

.price {
	color: red;
	font-weight: bold;
}