.card-news {
	box-shadow: 3px 3px 10px;
}

.upcoming-event {
	height: 100%;
	width: 100%;
}

h6 {
	background-color: #26a69a;
	padding: 3%;
	color: white;
	text-align: center;
	border: 1px solid black;
	font-family: 'Anton', sans-serif;

}

.card-upcoming {
	box-shadow: 2px 2px 5px;
}